{% extends 'shop/base.html' %}

{% block content %}
<div class="row">
{% for item in items %}
    <div class="three-columns">
        <article class="item">
            <img class="product-image" src="pictures/{{ item.image }}" alt="Купить хуйню без регистрации и смс"></img>
            <h2><a class="product-name" href="{% url 'item_detail' pk=item.pk %}">{{ item.title|linebreaks }}</a></h2>
            <p class="price">{{ item.price }} руб.</p>
        </article>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}        
{% endfor %}
{% endblock %}
